@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1683285332749') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 22px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chongwutubiao02:before {
  content: "\e601";
}

.icon-chongwutubiao03:before {
  content: "\e602";
}

.icon-chongwutubiao04:before {
  content: "\e603";
}

.icon-chongwutubiao01:before {
  content: "\e604";
}

.icon-chongwutubiao16:before {
  content: "\e605";
}

.icon-maomi:before {
  content: "\e619";
}

